<div class="col-md-9">
    <form method="POST"  action="/admin/page">
        <div class="form-group">
            <label for="exampleInputEmail1">Page title:</label>
            <input name='title' type="text" value="{{ selectedPage.title }}" class="form-control"  placeholder="Title">
            {{#if selectedPage}}
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="id" value="{{ selectedPage._id }}">
            {{/if}}
        </div>
        <div class="form-group">
            <label >Page body:</label>
            <textarea class="form-control" name="body"  cols="30" rows="20">{{ selectedPage.body }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create page</button>
    </form>
</div>

