{{> site-top }}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {{ striptScript post.body }}
      </div>
    </div>
  </div>
</article>