    </div>
    <!-- Tinymce -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script src="/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Select box js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- selectize.js for tagging-->
    <script src="/admin/js/selectize.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/admin/js/waves.js"></script>
    <!--Counter js -->
    <script src="/admin/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/admin/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <script src="/admin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/admin/js/custom.min.js"></script>
   <!-- <script src="js/dashboard1.js"></script>-->
    <script src="/admin/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <!-- My custom js-->
    <script src="/admin/js/mycustom.js"></script>
</body>

</html>