<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 70px 0 0;"> 
                <a href="/admin" class="waves-effect active">
                    <span class="hide-menu"> Dashboard </span>
                </a>
            </li>
            <li > 
                <a href="/admin/category" class="waves-effect active">
                    <span class="hide-menu"> Categories </span>
                </a>
            </li>
            <li > 
                <a href="index.html" class="waves-effect active">
                    <span class="hide-menu"> Posts <span class="fa arrow"></span> </span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li> <a href="/admin/post/create"><span class="hide-menu">Create post</span></a> </li>
                    <li> <a href="/admin/post/allposts"><span class="hide-menu">All posts</span></a> </li>
                </ul>
            </li>
            <li > 
                <a href="index.html" class="waves-effect active">
                    <span class="hide-menu"> Pages <span class="fa arrow"></span> </span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li> <a href="/admin/page/create"><span class="hide-menu">Create page</span></a> </li>
                    <li> <a href="/admin/page/allpages"><span class="hide-menu">All pages</span></a> </li>
                </ul>
            </li>

            

        </ul>
    </div>
    
</div>